<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5629801777-ktl6n7nv745qepjdp3k7elmt97qgcv84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5629801777-ktl6n7nv745qepjdp3k7elmt97qgcv84</string>
	<key>API_KEY</key>
	<string>AIzaSyBkExLSYgT3DirnSGOAYmiRnTU5CJgbJjc</string>
	<key>GCM_SENDER_ID</key>
	<string>5629801777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buddyAlarm</string>
	<key>PROJECT_ID</key>
	<string>buddy-alarm</string>
	<key>STORAGE_BUCKET</key>
	<string>buddy-alarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5629801777:ios:ed92b6e516a1eebde12c10</string>
</dict>
</plist>